header{
    margin-top: 10%;
    align-items: center;
}
h1{

    font-family: 'Bitter', serif;
    font-weight: 600;
    font-size: 4em;
    color: #AE8071;
    text-align: left;
}
body{
    background-color: #EADACB;
    font-family: 'Raleway', sans-serif;
    width: 80%;
    margin: auto;

}

img{
    width: 100%;
}
i{
    font-size: .8em;
    font-style: italic;
}
.graphics{
    background-color: #ffffff;
    margin: 20px 0px;
    padding: 20px;
}
.float{
width: 50%;
float: right;
margin: 0px 0px 0px 5px;
}

footer{
    margin-bottom: 10%;
}
@media (max-width: 450px){
Body{
width: 100%;
    }
h1{
    font-size: 2em;
    margin-top: 20px;
}
i{
    padding-bottom: 20px;
    font-size: .7em;

}
.float{
    width: 100%;
}}