body{
    background-color: #FAF5F0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #B2846C;
    padding-left: 30px;
}
line{
    color: black;
    
}
nav{
    text-transform: uppercase;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding-left: 30px;
}

ul, li{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: black;
    padding-left: 30px;
    list-style-position: inside;

}


h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-left: 30px;
    color: #70705C;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding-left: 30px;
    color: #B2846C;
}
h5{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

p {
    padding-left: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
}
a{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: italic;
    padding-left: 20px;
    font-size: smaller;
}
img{
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}
footer{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    padding-bottom: 10px;
    padding-right: 100px;
}